.App {
  text-align: center;
}

.buttons{
  display: flex;
  flex-direction: row;
  margin: 5px;
}

button { 
  width: calc(100% * 0.20);
  height: calc(40px);
}

.thumb-container{

  width: 70vw;
  height: 270px;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  /* overflow-y: hidden; */
}